.App {
  text-align: center;
  margin: 1em;
}

.App>* {
  margin: 1em 0em;
}

.OutlineForm {
  max-width: 100%;
  margin: auto;
  width: 30em;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.OutlineForm>input {
  max-width: 100%;
}